{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/refuelling.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="pt-5 text-center">
        <h2>Данные о заправке сохранены</h2>
        <p><a href='{{ path('homepage') }}'>Перейти на главную</a></p>
    </div>

{% endblock %}
