h4 > a {
    color: black;
    text-decoration: none;
}

h4 > a:hover {
    color: blue;
    text-decoration: underline;
}

.btn {
    width: 300px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}

.card {
    width: 12rem;
}

.station-logo {
    max-width: 30px;
}
