{% extends 'layout.html.twig' %}

{% block title %} {% if title is defined %} {{ title }} {% endif %} {% endblock %}

{% block content %}

    {% if return_route is defined %}<a href='{{ path(return_route) }}'> Назад </a><br>{% endif %}

    {% block station_cards %}{% endblock %}<br>

    {% if form is defined %} {{ form(form) }} {% endif %}

{% endblock %}
