{% extends 'petrol_station/index.html.twig' %}

{% block station_cards %}

    {% if stations is defined %}
    <div class="row row-cols-8">
        {% for station in stations %}
            <div class="col">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <h7><a href="{{ path('change_station', {'id': station.id}) }}" class="card-link small text-white">{{ station.name }}</a></h7>
                    </div>
                    <img src="{{ asset('uploads/petrol_stations/' ~ station.pictureFilename) }}" class="card-img-top" alt="Logo">
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}