<h1>Привет! Пожалуйста, подтвердите свой электронный адрес</h1>

<p>
    Пожалуйста, подтвердите указанный при регистрации адрес электронной почты, перейдя по ссылке ниже:<br><br>
    <a href="{{ signedUrl }}">Подтвердить мой электронный адрес</a>.
    Срок действия ссылки {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Спасибо!
</p>
